bun.lock
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
bun.lock
jsconfig.json
test_db.sql
user.sql
text.txt
vendor
composer.lock
*.png
*.webp
*.pdf
*.txt
*.rar
.env
*.zip
*.jpg
*.jpeg
*.ico
*.svg
*.xml
*.yml
*.yaml