:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(19, 48, 27);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.form {
  background-color: #3d3d3d;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.resultado {
  background-color: #3d3d3d;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.oculto {
  display: none;
}

.unitsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.unitsButton {
  flex-grow: 1;
}

.unitsButton.selected {
  background-color: #3d3d3d;
}

.convertButton,.resetButton {
  margin-top: 15px;
}

.inputResult{
  border: none;
  outline: none;
  cursor: auto;
  background-color: #3d3d3d;
}
.inputResult{
  border: none;
}